
<h2>Admin page</h2>

<section>
    <a href="Restaurant/All" class="btn btn-primary">View restaurants</a>
    <a href="Employee/All" class="btn btn-primary">View employees</a>
    <a href="Request/All_Admin_Request" class="btn btn-primary">View requests</a>
</section>

<br />
<div>
    @Html.ActionLink("Back to homepage", "Index", "Home")
</div>