<h1>
    <b>Zero Hunger</b>
</h1>
<hr />
<section>
    <h3>About us</h3>
    <p>
        We are an NGO who works for feeding deprived people and children.<br />
        We have observed that, people are wasting a ton of food every day in Dhaka city
        (like office programs, buffets etc etc).
        We are on a mission to make the usage of this foods.
    </p>
    <p>
        <a href="/Admin" class="btn btn-primary">Login</a>
    </p>
</section>