
@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>
<h4>Employee</h4>
<form method="post">
    <table>
        <tr>
            <td>Employee name: &nbsp;</td>
            <td><input type="text" name="Name" /></td>
        </tr>
    </table>
    <br />
    <input type="submit" value="Add employee" class="btn btn-primary"/>
</form>
<br/>
<a href="/Employee/All">Back to list</a>